@font-face{
	font-family:"myriad";
	src:url("fonts/myriad-web-pro.ttf");
	src:local("☺ ☺"),url("fonts/myriad-web-pro.ttf"),format("ttf");
}
body {
	/*max-width:1200px;*/
	background-image:url("back.png");
	background-size:100% 100%;
}
#header{
	font-family:myriad;
	position:relative;
	width:1095px;
	height:75px;
	margin:-8px 0 0 132px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	background-color:rgba(39,42,45,0.9);
	color:rgb(230,227,187);
	text-align:justify;	
	display:inline-block;
}

.header_large{
	position:relative;
	font-size:35px;
	margin-left:20px;
	margin-top:25px;
}
#line{
	position:absolute;
	margin-left:30px;
	margin-top:15px;
}
#header ul{
	position:relative;
	margin-top:25px;
	margin-left:20px;
	display:inline-block;
	list-style:none;
}
#header li{
	position:relative;
	margin-top:-10px;
	display:inline;
	margin:0 10px 0 10px;
	cursor:pointer;
}
#header_password{
	background-color:rgba(39,42,45,0.9);
	border:solid 1px rgb(39,42,45);
	border-bottom-color:rgb(63,66,69);
	border-bottom-style:solid 1px;
	border-radius:5px;
	color:rgb(86,86,79);
	height:25px;
	float:right;
	margin-top:20px;
}
#header_signin{
	background-color:rgba(142,68,35,0.8);
	border-color:rgba(142,68,35,0.8);
	border-radius:5px;
	cursor:pointer;
	height:30px;
	float:right;
	margin-right:50px;
	margin-left:10px;
	margin-top:20px;
}
#badges{
	position:relative;
	margin-top:-30px;
	margin-left:372px;
}
#content{
	position:relative;
	margin-top:-106px;
	margin-left:132px;
	height:1347px;
	width:1095px;
	background-color:rgba(0,0,0,0);
	background-image:url("content_back.png");*/
	background-repeat:no-repeat;
	background-size:100% 100%;
	padding-left:26px;
}
#left_arrow{
	position:relative;
	margin-top:15px;
	margin-left:450px;
	margin-right:20px;
	cursor:pointer;
}
#content_title{
	color:#fff;
}
#right_arrow{
	margin-left:20px;
	cursor:pointer;
}
.box_image{
	position:relative;
	margin-top:30px;
	width:143px;
	margin-left:15px;
}
.slider{
	width:1044px;
}
.slider1{
	z-index:6;
}
.slider2{
	z-index:5;
	display:none;
}
.slider3{
	z-index:5;
	display:none;
}
.slider1_content{
	display:block;
	-webkit-transition:all linear 1.5s;
	-moz-transition:all linear 1.5s;
	transition:all linear 1.5s;
	cursor:pointer;
}
.slider2_content{
	display:none;
	-webkit-transition:all linear 1.5s;
	-moz-transition:all linear 1.5s;
	transition:all linear 1.5s;
	cursor:pointer;
}
#dropdown{
	display:none;
	position:absolute;
	background-image:url("drop-down.png");
	width:245px;
	height:164px;
	margin-left:430px;
	margin-top:-40px;
	z-index:2;
	color:rgb(123,122,109);
	padding-top:15px;
	background-repeat:no-repeat;
}
#dropdown li{
	margin-top:10px;
	cursor:pointer;
}
#jayne{
	position:absolute;
	z-index:100;
	margin-top:60px;
	margin-left:150px;
	width:320px;
}
#jayne img{
	position:relative;
	margin:0 
}
#john{
	position:absolute;
	z-index:100;
	margin-top:60px;
	margin-left:550px;
	width:320px;
}
#john img{
	position:relative;
	margin:0 
}
.tab{
	position:absolute;
	margin-top:5px;
	z-index:1;
}
#tab1{
	margin-left:360px;
}
#tab2{
	margin-left:475px;
}
#tab3{
	margin-left:580px;
}
#prev{
	z-index:100;
	position:absolute;
	margin-top:120px;
	margin-left:30px;
	cursor:pointer;
}
#next{
	z-index:100;
	position:absolute;
	margin-top:120px;
	margin-left:1000px;
	cursor:pointer;
}
#slider1_title{
	z-index:100;
	position:absolute;
	margin-left:370px;
	margin-top:10px;
	cursor:pointer;
	font-weight: bold;
}
#gizmodo{
	width:200px;
	position:absolute;
	border-radius:1px solid red;
	z-index:100; 
	margin-top:70px;
	margin-left:120px;
	padding-left:10px;
}
#gizmodo img{
	position:relative;
	margin-top:5px;
	margin-right:10px;
	margin-left:-5px;
}
#freelance{
	width:200px;
	position:absolute;
	border-radius:1px solid red;
	z-index:100; 
	margin-top:70px;
	margin-left:445px;
	padding-left:10px;
}
#freelance img{
	position:relative;
	margin-top:5px;
	margin-right:10px;
	margin-left:-5px;
}
#mashable{
	width:200px;
	position:absolute;
	border-radius:1px solid red;
	z-index:100; 
	margin-top:70px;
	margin-left:770px;
	padding-left:10px;
}
#mashable img{
	position:relative;
	margin-top:5px;
	margin-right:10px;
	margin-left:-5px;
}
#slider2_title{
	z-index:100;
	position:absolute;
	margin-left:490px;
	margin-top:10px;
	cursor:pointer;
	font-weight:normal;
}

#slider3_title{
	z-index:100;
	position:absolute;
	margin-left:600px;
	margin-top:10px;
	cursor:pointer;
	font-weight: normal;
}
.textbox1{
	font-family:myriad;
	width:530px;
	position:relative;
	margin-top:30px;
	margin-right:20px;
}
.textbox1 img {
	height:50px;
	margin-right:10px;
	margin-bottom:50px;
}
#content hr{
	position:relative;
	margin-top:20px;
	margin-left:-10px;
	width:98%;
}
#step1{
	margin-left:130px;
}
#step2{
	margin-left:230px;
}
#step3{
	margin-left:230px;
}
.textbox2{
	width:230px;
	text-align:center;
	margin-left:70px;
	margin-top:10px;
}
.textbox3{
	width:200px;
	text-align:center;
	margin-left:130px;
	margin-top:10px;
}
.textbox4{
	width:220px;
	text-align:center;
	margin-left:130px;
	margin-top:10px;
}
.textbox2 input {
	margin-top:10px;
	height:30px;
	width:100px;
	border-radius:10px;
	background-color:rgb(39,42,44);
	color:rgb(230,227,187);
}
.textbox3 input {
	margin-top:10px;
	height:30px;
	width:100px;
	border-radius:10px;
	background-color:rgb(39,42,44);
	color:rgb(230,227,187);
}
.textbox4 input {
	margin-top:10px;
	height:30px;
	width:100px;
	border-radius:10px;
	background-color:rgb(39,42,44);
	color:rgb(230,227,187);
	margin-bottom:10px;
}
#slider{
	margin-top:20px;
	width:90%;
}
.slider_back{
	position:absolute;
	width:95%;
}
.textbox5{
	position:relative;
	margin-top:260px;
	width:440px;
}
.textbox5 img {
	margin-left:10px;
	width:150px;
}
.split{
	position:relative;
	margin-top:-230px;
	margin-left:480px;
}
.textbox6{
	position:relative;
	width:500px;
	margin-top:-180px;
	margin-right:20px;
}
#news{
	width:230px;
	height:30px;
	padding-top:5px;
	padding-left:5px;
	padding-right:0;
	margin-top:15px;
	border-radius: 5px;
	background-color:rgb(40,43,45);
	border:1px solid rgb(104,104,94);
}
#news input[type="email"]{
	color:rgb(95,95,86);
	background-color:rgba(0,0,0,0);
	border:solid 1px rgb(40,43,45);
}
#news input[type="button"]{
	background:-webkit-linear-gradient(top,rgb(176,89,46),rgb(106,47,24));
	background:-o-linear-gradient(top,rgb(176,89,46),rgb(106,47,24));
	background:-moz-linear-gradient(top,rgb(176,89,46),rgb(106,47,24));
	background:linear-gradient(to bottom,rgb(176,89,46),rgb(106,47,24));
	color:#fff;
	text-align:center;
	border:solid 1px rgba(0,0,0,0);
	border-radius:5px;
	height:100%;
	position:relative;
	margin-top:-5px;
	margin-right:-15px;
}
#tweet{
	width:50px;
	border:1px solid rgb(104,104,94);
	border-radius:5px;
	padding-top:5px;
	padding-left:10px;
}
#tweet input{
	background:-webkit-linear-gradient(top,rgb(176,89,46),rgb(106,47,24));
	background:-o-linear-gradient(top,rgb(176,89,46),rgb(106,47,24));
	background:-moz-linear-gradient(top,rgb(176,89,46),rgb(106,47,24));
	background:linear-gradient(to bottom,rgb(176,89,46),rgb(106,47,24));
	color:#fff;
	text-align:center;
	border:solid 1px rgba(0,0,0,0);
	border-radius:2px;
	position:relative;
	margin-left:-8px;
	width:58px;
}
#theme{
	width:400px;
	height:50px;
	border:1px solid rgb(104,104,94);
	border-radius:5px;
	padding-top:5px;
	padding-left:10px;
	position:relative;
	margin-top:-57px;
	margin-right:5px;
}
#theme img {
	position:absolute;
	margin-left:180px;
	margin-top:5px;
	cursor:pointer;
}
#flickr{
	font-weight:bold;
	width:270px;
	padding-left:0;
	position:relative;
	margin-top:20px;
	margin-left:40px;
}
#flickr hr{
	position:relative;
	margin-top:5px;
}
#featured_clients{
	position:relative;
	margin-top:20px;
	text-align:center;
	margin-left:40px;
}
#featured_clients hr{
	position:relative;
	margin-top:5px;
}
#featured_clients li{
	margin:5px;
}
#our_friends{
	position:relative;
	width:150px;
	margin-top:20px;
	text-align:center;
	margin-left:80px;
}
#our_friends ul{
	position:relative;
	margin-left:-40px;
}
#our_friends hr{
	position:relative;
	margin-top:5px;
}
#pages{
	position:relative;
	width:150px;
	margin-top:20px;
	text-align:center;
	margin-left:80px;
}
#pages hr{
	position:relative;
	margin-top:5px;
}
#pages ul{
	position:relative;
	margin-left:-30px;
}
#copy{
	position:relative;
	margin-top:250px;
	margin-left:-1020px;
}
#submenu{
	color:rgb(135,66,35);
	position:relative;
	margin-top:250px;
	margin-left:-370px;
}

.left{							
	float:left;
}
.right{
	float:right;
}
.cleft{
	clear:left;
}
.cright{
	clear:right;
}
/
.col_0{
	color:rgb(230,227,187);
}
.col_1{
	color:rgb(135,66,35);
}
.col_2{
	color:rgb(100,100,100);
}
.col_3{
	color:rgb(123,122,109);
}
.col_4{
	color:rgb(123,122,109);
}
.size_10{
	font-size:25px;
}
.size_5{
	font-size:20px;
}
input[type="button"]{
	cursor:pointer;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
.pointer{
	cursor:pointer;
	margin-left:15px;
}

font1{
	font-family:myriad;
}